* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #222;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}